In [2]:
import pandas as pd
import numpy as np
auctions_dtypes = {'auction_type_id': np.float16, 'country': 'category', 'platform': 'category',
                   'ref_type_id': 'category', 'source_id': 'category'}
auctions = pd.read_csv('auctions.csv.gzip', dtype = auctions_dtypes, compression = 'gzip')

In [3]:
auctions.drop('auction_type_id', axis = 1, inplace = True)

In [4]:
auctions["date"] =  pd.to_datetime(auctions["date"], errors = "coerce")

In [5]:
auctions.head()

,country,date,device_id,platform,ref_type_id,source_id
0,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0

In [11]:
auctions.dtypes

country              category
date           datetime64[ns]
device_id               int64
platform             category
ref_type_id          category
source_id            category
dtype: object